# Dependencies
node_modules/

# Environment Variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel and deployment
.vercel/

# Editor settings
.vscode/
.idea/

# Misc
.DS_Store
